

<div class="col-md-3">
    <div class="list-group">
        @Html.ActionLink("Laptop Ads", "Index", "LaptopAds", null, htmlAttributes: new { @class = "list-group-item" })
        @Html.ActionLink("Cell Phone Ads", "Index", "CellPhoneAds", null, htmlAttributes: new { @class = "list-group-item" })
        @Html.ActionLink("Bike Ads", "Index", "BikeAds", null, htmlAttributes: new { @class = "list-group-item" })
        <a href="#" class="list-group-item">Category 2</a>
        <a href="#" class="list-group-item">Category 3</a>
    </div>
</div>