@{
    var ReviewsList = Model.Reviews;

    if (ReviewsList.Count != 0)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Reviews</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12 well">
                    @foreach (var Review in ReviewsList)
                    {
                        string ReviewerName = Review.Seller.Name;
                        int ReviewerID = Review.Seller.ID;
                        <div class="row">
                            <div class="col-md-12">
                                <span class="glyphicon glyphicon-user"></span> <b>@Html.ActionLink(ReviewerName, "Details", "Profile", new { area = "", id = ReviewerID }, new { target = "_blank" })</b>
                                <span class="pull-right">Timestamp: <b>@Review.PostingTime</b></span>
                                <br />
                                <p>@Review.Content</p>
                            </div>
                        </div>
                        <hr>
                    }
                 </div>
            </div>
        </div>
    }
}