
@{
    ViewBag.Title = "Admin Home";
}

<div class="jumbotron">
    <h1>Hello, Admin!</h1>
    <p>This is your application Dashboard. Welcome to the Adminstrative Dashboard of BuySell.
    On your left is a menu where you can access a number of different options. Please use this side very cautiously.
    This side contain sensitive data about your application users &amp; their activities on your app</p>
</div>